.inputOption{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color:gray;
    /* font-size: 13px; */
    padding: 10px;
    cursor:pointer;
}

.inputOption__icon{
    margin-right: 5px;
}

.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}